<!DOCTYPE html>
<html lang="en">
<head>
  <title>Model Training</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/test"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/test">Home</a></li>
            <li class="active"><a href="/train">Training Page</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
  <div style="color:white; background:#8181F7 !important" class="jumbotron">
    <h1>Model Training</h1>
    <p>Load a csv with your wine data set. Then choose a learning rate, batch size and output model name. Press submit
    to train the model.</p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2>Input</h2>
      {% from "_formhelpers.html" import render_field %}
      <form method=post action="/train/" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
          {{ render_field(form.training_data             ) }}
          {{ render_field(form.learning_rate    ) }}
          {{ render_field(form.batch_size         ) }}
          {{ render_field(form.model_name      ) }}
        </dl>
        <p><input type=submit value=Submit>
      </form>
    </div>

    <div class="col-sm-8">
      {% if model_log %}
      <h2>Model</h2>
      <h3>Training Parameters</h3>
      <p>Learning rate = {{ learning_rate }}</p>
      <p>Batch size = {{ batch_size}}</p>
      <h3>Model Training Log</h3>
      <p>
        {% for log_entry in model_log %}
        {{ log_entry }}<br>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</div>
</body>
    
